PermitRootLogin yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication no
Subsystem	sftp	/usr/libexec/sftp-server

Match Group github 
	AuthorizedKeysCommand /usr/local/bin/pkc-keys %u
	AuthorizedKeysCommandUser nobody
	X11Forwarding no
	AllowTcpForwarding no
	PermitTTY no
	ForceCommand /usr/local/bin/pkc-shell
