[Unit]
Description=Chat Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/pubkey.chat service /etc/chat.ini
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
